.hero-wrapper {
    height: 100vh;
    overflow: hidden;
}

.hero-image {
    width: 100%;
    position: relative;
    height: 100%;
    transform: scale(1);
    transition: all 2s cubic-bezier(.21,.6,.35,1);
    object-fit: cover;
    object-position: center;
}

.hero-image.active {
    transform: scale(1.2);
}

.section-two-wrapper {
    max-width: 650px;
    margin: auto;
}

.section-two p,
.section-three p {
    text-align: center;
    line-height: 1.6 !important;
    font-size: 16px;
}

.section-three-wrapper {
    margin: auto;
    max-width: 650px;
}

.section-three-image {
    width: 100%;
}

.courses-section {
    padding: 0 var(--padding);
}

.courses-swiper {
    position: relative;
    padding-bottom: 50px;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
}

.courses-swiper .course {
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px 0px rgba(0,0,0,0.5);
    position: relative;
}

.courses-swiper .course-wrapper {
    height: 100%;
}

.courses-swiper .course-image-wrapper {
    padding-top: 60%;
    height: 0;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    position: relative;
}

.courses-swiper .course-image-wrapper img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.courses-swiper .course-details {
    max-height: 100%;
    pointer-events: none;
}

.courses-swiper .course-details h3 {
    margin-top: 0;
}

.courses-swiper .duration {
    margin-top: auto;
    padding-top: 0;
}

.courses-swiper .swiper-pagination-bullet {
    border-radius: 0 !important;
    margin: 0 !important;
    width: 15px;
    background-color: #5c5c5c !important;
    opacity: 0.3;
}

.courses-swiper .swiper-pagination-bullet-active {
    background-color: #5c5c5c !important;
    opacity: 0.8;
}

.courses-swiper .swiper-button-next:after, 
.courses-swiper .swiper-button-prev:after {
    display: none;
}

.courses-swiper .swiper-button-prev,
.courses-swiper .swiper-button-next {
    border-radius: 50%;
    background-color: #cecece9c;
    height: 45px;
    width: 45px;
    padding: 5px;
    z-index: 99;
}

.courses-swiper .swiper-button-prev {
    transform: rotate(180deg);
}